In [68]:
import numpy as np
import pandas as pd
from sklearn import datasets

In [69]:
from sklearn.datasets import load_breast_cancer

In [70]:
cancer_data=load_breast_cancer()
df=pd.DataFrame(cancer_data.data,columns=cancer_data.feature_names)
df['target']=pd.Series(cancer_data.target)
df.head()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,target
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,0
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,0
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,0
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,0
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,0

In [71]:
df.columns

Index(['mean radius', 'mean texture', 'mean perimeter', 'mean area',
       'mean smoothness', 'mean compactness', 'mean concavity',
       'mean concave points', 'mean symmetry', 'mean fractal dimension',
       'radius error', 'texture error', 'perimeter error', 'area error',
       'smoothness error', 'compactness error', 'concavity error',
       'concave points error', 'symmetry error', 'fractal dimension error',
       'worst radius', 'worst texture', 'worst perimeter', 'worst area',
       'worst smoothness', 'worst compactness', 'worst concavity',
       'worst concave points', 'worst symmetry', 'worst fractal dimension',
       'target'],
      dtype='object')

In [72]:
df['target'].describe()

count    569.000000
mean       0.627417
std        0.483918
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: target, dtype: float64

In [73]:
df['worst texture'].describe()

count    569.000000
mean      25.677223
std        6.146258
min       12.020000
25%       21.080000
50%       25.410000
75%       29.720000
max       49.540000
Name: worst texture, dtype: float64

In [74]:
df1=df[['worst texture','worst area','target']]
gr1=df1.groupby(df1['target']).mean()
gr1

        worst texture   worst area
target
0           29.318208  1422.286321
1           23.515070   558.899440

In [75]:
def meanofTargets(group1):
    wt=group1['worst texture'].agg('mean')
    wa=group1['worst area'].agg('mean')
    group1['Mean worst teture']=wt
    group1['Mean worst area']=wa
    return group1

In [76]:
df2=df1.groupby('target').apply(meanofTargets)
df2

     worst texture  worst area  target  Mean worst teture  Mean worst area
0            17.33      2019.0       0          29.318208      1422.286321
1            23.41      1956.0       0          29.318208      1422.286321
2            25.53      1709.0       0          29.318208      1422.286321
3            26.50       567.7       0          29.318208      1422.286321
4            16.67      1575.0       0          29.318208      1422.286321
..             ...         ...     ...                ...              ...
564          26.40      2027.0       0          29.318208      1422.286321
565          38.25      1731.0       0          29.318208      1422.286321
566          34.12      1124.0       0          29.318208      1422.286321
567          39.42      1821.0       0          29.318208      1422.286321
568          30.37       268.6       1          23.515070       558.899440

[569 rows x 5 columns]

In [77]:
df['mean area'].describe()

count     569.000000
mean      654.889104
std       351.914129
min       143.500000
25%       420.300000
50%       551.100000
75%       782.700000
max      2501.000000
Name: mean area, dtype: float64

In [78]:
def processed_area(df):
    label=['150-550','550-950','950-1350','1350-1750','1750-2150','2150-2500']
    cat_area=pd.cut(df['mean area'],bins=[150,550,950,1350,1750,2150,2500],labels=label)
    merge1=pd.concat([df,cat_area],axis=1)
    return merge1

In [79]:
df_2=processed_area(df)
df_2.head()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,target,mean area
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,0,950-1350
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,0,950-1350
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,0,950-1350
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,0,150-550
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,0,950-1350

In [80]:
df_2.columns

Index(['mean radius', 'mean texture', 'mean perimeter', 'mean area',
       'mean smoothness', 'mean compactness', 'mean concavity',
       'mean concave points', 'mean symmetry', 'mean fractal dimension',
       'radius error', 'texture error', 'perimeter error', 'area error',
       'smoothness error', 'compactness error', 'concavity error',
       'concave points error', 'symmetry error', 'fractal dimension error',
       'worst radius', 'worst texture', 'worst perimeter', 'worst area',
       'worst smoothness', 'worst compactness', 'worst concavity',
       'worst concave points', 'worst symmetry', 'worst fractal dimension',
       'target', 'mean area'],
      dtype='object')

In [81]:
df_2.columns.values[31]='Cat_mean_area'
df_2.columns

Index(['mean radius', 'mean texture', 'mean perimeter', 'mean area',
       'mean smoothness', 'mean compactness', 'mean concavity',
       'mean concave points', 'mean symmetry', 'mean fractal dimension',
       'radius error', 'texture error', 'perimeter error', 'area error',
       'smoothness error', 'compactness error', 'concavity error',
       'concave points error', 'symmetry error', 'fractal dimension error',
       'worst radius', 'worst texture', 'worst perimeter', 'worst area',
       'worst smoothness', 'worst compactness', 'worst concavity',
       'worst concave points', 'worst symmetry', 'worst fractal dimension',
       'target', 'Cat_mean_area'],
      dtype='object')

In [82]:
df_2['Cat_mean_area']

0       950-1350
1       950-1350
2       950-1350
3        150-550
4       950-1350
         ...
564    1350-1750
565     950-1350
566      550-950
567     950-1350
568      150-550
Name: Cat_mean_area, Length: 569, dtype: category
Categories (6, object): ['150-550' < '550-950' < '950-1350' < '1350-1750' < '1750-2150' < '2150-2500']

In [83]:
gr=df_2.groupby(df_2['Cat_mean_area']).sum()
gr

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension,target
Cat_mean_area,,,,,,,,,,,,,,,,,,,,,
150-550,3247.348,5141.25,20869.78,115763.8,26.79148,23.50589,13.938453,7.198791,50.3802,18.27174,...,6809.34,23419.21,142055.0,36.81404,55.90532,51.552527,21.150701,79.4580,23.57530,266
550-950,2692.570,3569.23,17565.51,124625.8,17.42754,20.06609,17.237528,9.646423,32.7278,11.12057,...,4803.71,20566.21,166101.6,23.98655,51.69793,55.781920,23.801320,53.3306,15.27697,89
950-1350,1556.370,1743.52,10278.90,93017.8,8.05712,11.70894,13.573130,7.759730,15.3673,4.88267,...,2309.70,12503.70,133373.0,11.14014,28.16816,35.417000,14.965020,25.2911,6.91644,1
1350-1750,352.580,357.60,2337.50,24341.0,1.63496,2.47152,3.478500,1.989750,3.0188,0.94431,...,477.24,3004.00,38857.0,2.20740,5.76010,8.247600,3.568500,4.7232,1.32225,0
1750-2150,99.830,84.17,677.40,7490.0,0.46890,1.00010,1.328500,0.724100,0.8431,0.26519,...,108.12,827.60,10511.0,0.61410,2.04450,2.338800,1.034600,1.2424,0.37005,0
2150-2500,55.330,40.34,370.60,4749.0,0.22360,0.34300,0.607200,0.347300,0.3448,0.11295,...,51.32,409.30,5715.0,0.26140,0.55500,0.854100,0.428300,0.4504,0.13607,0

In [84]:
df_3=df_2[['mean area','Cat_mean_area','target']]
gr2=df_3.groupby(df_2['Cat_mean_area']).sum()
gr2

               mean area  target
Cat_mean_area
150-550         115763.8     266
550-950         124625.8      89
950-1350         93017.8       1
1350-1750        24341.0       0
1750-2150         7490.0       0
2150-2500         4749.0       0

Now we will use a function to do the above sum aggregation without groupby.

In [85]:
def totalTargets(group):
    g=group['target'].agg('sum')
    group['Total_targets']=g
    return group

In [86]:
df_4=df_3.groupby(df_3['Cat_mean_area']).apply(totalTargets)
df_4

     mean area Cat_mean_area  target  Total_targets
0       1001.0      950-1350       0              1
1       1326.0      950-1350       0              1
2       1203.0      950-1350       0              1
3        386.1       150-550       0            266
4       1297.0      950-1350       0              1
..         ...           ...     ...            ...
564     1479.0     1350-1750       0              0
565     1261.0      950-1350       0              1
566      858.1       550-950       0             89
567     1265.0      950-1350       0              1
568      181.0       150-550       1            266

[567 rows x 4 columns]